
@import "tailwindcss";


@theme {
  --color-background: #1a2026;
  --color-header: #212932;

  --color-primary: #242e38;
  --color-secondary: #36a5ff;
  --color-gray: #8a98a6;
}


.hide-scrollbar {
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
  overflow-y: scroll; /* Ensures vertical scrolling is possible */
  /* For Webkit browsers (Chrome, Safari, Opera) */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
